
.nossoscuidados{
    background-color: #000000;
    color: #e2b7b7;
   height: 25vh;
   align-items: center;
   text-align: center;
}
.titulo{
    text-align: center;
    font-size: 7vh;
    padding-top: 3.3%;
}

.pai{   
    padding-top: 4%;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
}
.foto-diamante{
  width: 30%;
  padding-top: 7vh;
  margin-left: 17vh;
}
.card-container{
    background-color:#fff9f9;

    width: 50vh;
    height: 50vh;
}
.card-container2{
    background-color:#fff9f9;
    width: 50vh;
    height: 50vh;
    
}
.card-container3{
    background-color:#fff9f9;
    width: 50vh;
    height: 50vh;
}
.exclusivo{
  display: flex;
  padding-left: 35%;
    
}
.description-exclusivo{
   justify-content: center;
   align-items: center;
   font-size: center;
    padding-top: 9%;
    padding-left: 7%;
}
.frases{
    padding-top: 2vh;
    padding-left: 5vh;
}
.foto-coelho{
    width: 30%;
    padding-top: 7vh;
    margin-left: 17vh;
  }
  .LIVRE{
    display: flex;
    padding-left: 22%;
      
  }
  .description-livre{
    justify-content: center;
    align-items: center;
    font-size: center;
     padding-top: 9%;
     padding-left: 7%;
 }
 .frases2{
    padding-top: 2vh;
    padding-left: 5vh;
}
.foto-hipo{
    width: 30%;
    padding-top: 7vh;
    margin-left: 17vh;  
} 
 .HIPO{
    display: flex;
    padding-left: 29%;
  }
  .description-hipo{
    justify-content: center;
    align-items: center;
    font-size: center;
     padding-top: 9%;
     padding-left: 7%;
 }
 .frases3{
    
    padding-top: 2vh;
    padding-left: 5vh;
}
@media (max-width: 640px) {
    .pai{
        display: flex;
        flex-direction: column;
    }
   .nossoscuidados{
    display: flex;
    flex-direction: column;

   }
   
   
    }


