/* .titulooferta{
    font-size: 7vh;
}
.imgofertas{
    width: 74vh;
    height: 69vh;
}
.fraseoferta{
    font-size: 2vh;
}
.ofertassemana{
    padding-top: 4vh;
    padding-left: 7vh;
}

.imgofertas{
    padding-top:2vh;
}
.imagensprodutos{
   display: flex;
   flex-direction: row;
}
.ofertassemana{
    display: flex;
}
.produtos{
   
} */

.ofertas{
    display: grid;
    grid-template-areas: 
    "line line"
    "oferta ."
    "oferta preco";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: column;
}
.line-rosa{
    grid-area: line;
    width: 200vh;
    height: 2px;
    background-color: #CF9B9B;
    margin-top: 2.5vh;
    margin-left: 7vh;
}
.oferta-title{
    font-size: 8vh;
    
}
.container-oferta{
    display: flex;
    margin-left: 8vh;
    margin-top: 4vh;
}
.oferta-description{
    padding-top: 2vh;
}

.oferta{
    grid-area: oferta;
    display: flex;
    flex-direction: column;
}
.mulher{
    width: 85vh;
    padding-top: 2vh;
   
}
.produtos-oferta{
    grid-area: preco;
}
.produto1{
    width: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    margin-top:35vh ;
}
.produto2{
    width: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
   
}
.produto1 img{
    width: 22vh;
}
.produto2 img{
    width: 16vh;
}
.produto3{
    width: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    margin-top:35vh ;
}
.produto4{
    width: 10%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    margin-top: 90%
   
}