.titulooferta{
    font-size: 7vh;
}
.imgofertas{
    width: 74vh;
    height: 69vh;
}
.fraseoferta{
    font-size: 2vh;
}
.ofertassemana{
    padding-top: 4vh;
    padding-left: 7vh;
}

.imgofertas{
    padding-top:2vh;
}
.imagensprodutos{
   display: flex;
   flex-direction: row;
}
.produtos{
   
}