* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: grid;
    grid-template-areas: 
        "content";
}
.header{
    grid-area: content;
}
main{
    grid-area: content;
}
.footer{
    grid-area: content;
    place-self: end start;
}
.home{
}
.makes{
    
}
.ofertas{
  
  
}
.cuidados{
   
}
section {
    height: 100vh;
}
.footer{
    height: 50vh;
    width: 40vh;
   
}

 