* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: grid;
    grid-template-areas: 
        "content";
}
.header{
    grid-area: content;
}
main{
    grid-area: content;
}
.footer{
    grid-area: content;
    place-self: end start;
    background-color: aqua;
}
.home{
}
.makes{
    
}
.ofertas{
  
  
}
.cuidados{
   
}
section {
    height: 100vh;
}
section .ofertas{
    height: 130vh;
}
.footer{
    height: 50vh;
    width: 40vh;
   
}

html {
    scroll-behavior: smooth;
}

.back {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: black;
    right: 30px;
    bottom: 16px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color:#CF9B9B;
    transition: .18s;
    opacity: 6.3;
    z-index: 1;
}

.back:hover {
    opacity: 1.5;
}
 